@import url('./__container/popup__container.css');
@import url('./__image-container/popup__image-container.css');
@import url('./__close/popup__close.css');
@import url('./__image-close/popup__image-close.css');
@import url('./__title/popup__title.css');
@import url('./__text/popup__text.css');
@import url('./__text/_type/popup__text_type_name.css');
@import url('./__text/_type/popup__text_type_activity.css');
@import url('./__text/_type/popup__text_type_place.css');
@import url('./__text/_type/popup__text_type_link.css');
@import url('./__button/popup__button.css');
@import url('./__button/_type/popup__button_type_save.css');
@import url('./__button/_type/popup__button_type_create.css');
@import url('./__image/popup__image.css');
@import url('./__image-title/popup__image-title.css');

.popup {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s, visibility 0s linear .3s;
}