.element__like {
    width: 21px;
    height: 19px;
    margin-right: 18px;
    padding: 0;
    border: none;
    background-color: #fff;
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.element__like:hover {
    opacity: 0.6;
}