.profile__subtitle {
    max-width: 318px;
    max-height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    margin-top: 16px;
}

@media (max-width: 650px) {
    .profile__subtitle {
        max-width: 100%;
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: auto;
        margin-top: 14px;
    }
}