.profile__photo_change{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 120px;
  background-image: url('../../../../images/pen.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  z-index: -1;
}

.profile__photo_change:hover .profile__photo{
  z-index: 0;
}