.popup__close {
    position: absolute;
    width: 40.7px;
    height: 40.7px;
    padding: 0;
    left: 424px;
    bottom: 324px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
    border: 0;
    background-image: url('../../../images/plus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 557px) {
    .popup__close {
        max-width: 7.5vw;
        max-height: 7.5vw;
        left: 76vw;
        top: -6vw;
    }
}