.popup__image-title {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 3;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
}