@import url('./__image/element__image.css');
@import url('./__bottom/element__bottom.css');
@import url('./__title/element__title.css');
@import url('./__like/element__like.css');

.element {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    height: 362px;
    border-radius: 10px;
    background-color: #fff;
}